* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(165, 186, 203);
  font-family: sans-serif;
}

.radius {
  border-radius: 0.3rem;
}
.title {
  text-align: center;
  padding: 0.5rem;
}

.header {
  height: 5rem;
  line-height: 4rem;
  background-color: rgb(33, 40, 58);
  color: #dfdfe7;
}
.main {
  width: 65%;
  margin: 0 auto;
}

.question_container {
  width: 100%;
  padding: 0.8rem;
  margin: 2rem auto;
  background-color: rgb(221, 222, 218);
  box-shadow: 8px 8px 5px rgb(127, 123, 123);
}
.question_title {
  margin: 0.8rem;
}

.button {
  text-align: center;
  margin: 0.8rem;
  border: 1px solid rgb(156, 144, 144);
}
ul li {
  list-style: none;
}
a {
  width: 10rem;
  display: block;
  text-align: center;
  padding: 0.4rem;
  margin: 0.8rem auto;
  text-decoration: none;
  color: rgb(252, 250, 254);
  background-color: #408ccb;
}

.tags {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.tags li {
  background-color: #dfdfe7;
  margin: 0.4rem 0 0 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.footer ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  padding: 2rem;
  background-color: rgb(33, 40, 58);
  color: #dfdfe7;
}
footer ul li {
  padding: 0 0.8rem;
}
