.main {
  width: 70%;
  display: grid;
  margin: 0 auto;
  align-content: center;
  gap: 2rem;
}

.card {
  width: 100%;
  padding: 0.8rem;
  background-color: white;
  box-shadow: 8px 8px 5px rgb(127, 123, 123);
}
.card p {
  padding: 0.5rem;
}
/* the button show answer */
.card a {
  width: 10rem;
  display: block;
  text-align: center;
  padding: 0.4rem;
  margin: 0.8rem auto;
  color: white;

  background-color: #75a4ca;
}

/* tags */
.card li {
  background-color: #34495eda;
  margin: 0.4rem 0 0 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: white;
}
