@import '../reset.css';
@import '../common.css';
@import '../components/header.css';
@import '../components/nav.css';
@import '../components/button.css';

.form {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  font-size: large;
}

.gap-none {
  margin-bottom: -3rem;
}

.textarea,
.input_tags {
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.textarea {
  height: 5rem;
}

.input_tags {
  height: 2rem;
}
