@import "../reset.css";
@import "../common.css";
@import "../components/header.css";
@import "../components/nav.css";
@import "../components/button.css";

.foto-name-container {
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.foto {
  border-radius: 5%;
}

.name {
  padding-top: 1rem;
}
.self-introduce {
  padding: 1rem;
  border: 1px dotted rgb(65, 58, 58);
  background-color: rgb(232, 242, 242);
}

.skill-lists {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.skill-lists li {
  padding: 1rem;
  border: 1px dotted rgb(65, 58, 58);
  border-radius: 5%;
  background-color: rgb(175, 167, 157);
}

.logout {
  bottom: 8rem;
}
